# dependencies
/node_modules

# next.js
/.next/
/out/
/build

# serwist (generated service worker)
/public/sw.js
/public/sw.js.map
/public/swe-worker-*.js

# env
.env
.env*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

# testing
/coverage

# misc
.DS_Store
*.pem
.vercel

# supabase
.branches
.temp
